.container .jumbotron{
  background: red;
  color:white;
  box-shadow: 0px 0px 0px 5px @border;
 transition: box-shadow 0.4s linear;
 margin: 0.5em;
}


.container .jumbotron:hover { box-shadow: 0px 0px 0px 20px #ffffff;  }

.container{
  margin-top: 200px;

}
.jumbotron a{
  background: yellow;
  color:red;
  border:2px solid green;
}


body{
  background: #bf00ff;

}
table
{
  background: pink;
  border: 2px white solid;
}
#jobs{
  font-family: 'Permanent Marker', cursive;
  -webkit-text-stroke: 1px black;
color: white;
text-shadow:
   3px 3px 0 #000,
 -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
font-size: 50px;
}
thead{
  font-family: 'Patua One', cursive;
  font-size: 20px;
  background:  #1a0500;
  color: #ffc2b3;
}

h1{
  font-family: 'Patua One', cursive;
  font-size: 50x;
  color: #ffc2b3;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
td{
  font-family: 'Orbitron', sans-serif;
}
form {
display: inline-block;
}
span{
font-size: 15px;
font-family: sans-serif;
-webkit-text-stroke: 1px black;
color: black;
}
