{%extends 'testapp/base.html'%}
           {%block body_block%}

    <div class="container border-button " align="center">
      <div class="jumbotron">
              <h1 id='jobs'>Welcome to GeekJobs</h1>
              <p>Build Careers, Build Nation</p>

              <a class="btn btn-primary btn-lg" href="/hydjobs" role="button">Hyderabad Jobs</a> &nbsp&nbsp&nbsp
              <a class="btn btn-primary btn-lg" href="/blorejobs" role="button">Bangalore Jobs</a> &nbsp&nbsp&nbsp
              <a class="btn btn-primary btn-lg" href="/chennaijobs" role="button">Chennai Jobs</a> &nbsp&nbsp&nbsp
              <a class="btn btn-primary btn-lg" href="/punejobs" role="button">Pune Jobs</a>

    </div>

    </div>
{%endblock%}
