
{%extends 'testapp/base.html'%}
           {%block body_block%}

             <h1 align='center'>Pune Jobs Information</h1>&nbsp



      {% if jobs_list %}
      <table id='tab' align='center' class="table table-hover">
        <thead>
          <th>Date</th>
          <th>Company</th>
          <th>Title</th>
          <th>Eligibility</th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone Number</th>
        </thead>
        {%for job in jobs_list %}
        <tr>
          <td>{{job.date}}</td>
          <td>{{job.company}}</td>
          <td>{{job.title}}</td>
          <td>{{job.eligibility}}</td>
          <td>{{job.address}}</td>
          <td>{{job.email}}</td>
          <td>{{job.phonenumber}}</td>
        </tr>
        {% endfor %}
      </table>
      {%include 'testapp/pagination.html' with page=jobs_list %}
      <br><br>
      {%else %}
      <p>No Jobs Found in Hyderabad</p>
    {% endif %}
{%endblock%}
